.norm-div{
    color: black;
    background-color: rgb(181, 255, 255);
    text-align: center;
    padding: 10px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    font-size: 24px;
    width: 500px;
}
a{
    color: black;
    font-size: 20;
}
.link:hover{
    color: green;
    text-decoration: underline;
}
body{
    background-color: rgb(229, 247, 250);
}
h1{
    color: black;
    font-size: 48px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
}
ol{
    list-style-type: circle;
    list-style-position: outside;
    margin: auto;
    padding: 10px;
    width: 100px;
    text-align: center;
}
.input{
    border-radius: 12px;
    height: 25px;
    font-size: 20px;
    width: 150px;
}
img{
    width: 450px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 12px;
    padding: 10px;
}
input[type='submit']{
    border-radius: 12px;
    height: 30px;
    font-size: 20px;
    width: 200px;
    color: black;
    cursor: pointer;
    margin: 10px;
}