.links-div{
    color: black;
    background-color: rgb(181, 255, 255);
    text-align: left;
    padding: 20px;
    padding-left: 50px;
    margin: 30px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    font-size: 24px;
    width: 500px;
    line-height: 50px;
}
a{
    color: black;
    font-size: 20;
}
.link:hover{
    color: green;
    text-decoration: underline;
}
body{
    background-color: rgb(229, 247, 250);
}
h1{
    color: black;
    font-size: 48px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 15px;
    font-weight: bold;
}
ol{
    list-style-type: circle;
    list-style-position: outside;
    margin: auto;
    padding: 10px;
    width: 100px;
    text-align: center;
}
.input{
    border-radius: 12px;
    height: 25px;
    font-size: 20px;
    width: 150px;
}
img{
    width: 450px;
    height: auto;
    margin: auto;
    display: block;
    border-radius: 12px;
    padding: 10px;
}
input[type='submit']{
    border-radius: 12px;
    height: 30px;
    font-size: 20px;
    color: black;
    cursor: pointer;
    margin: 10px;
}
input[type='checkbox']{
    width: 20px;
    height: 20px;
}
.active {
    animation: active;
    animation-duration: 0.5s;
    color: black;
    text-decoration: underline;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 15px;
}
.True {
    animation: active;
    animation-duration: 0.5s;
    color: black;
    text-decoration: underline;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: 15px;
}
.content {
    margin: auto;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    font-size: 24px;
    width: 500px;
    text-align: center;
    background-color: rgb(181, 255, 255);
}

@keyframes active {
    from {padding-left: 0px;}
    to {padding-left: 12px;}
}

.ultimate-heading{
    color: black;
    font-size: 75px;
    text-decoration: none;
    left: 0%;
    top: 0%;
    width: 350px;
    position: absolute;
    text-align: left;
    padding-top: 22px;
    padding-left: 150px;
}