{% extends "base.html" %}
{% block site_title %}Account Löschen{% endblock %}
{% block title %}Account Löschen{% endblock %}
{% block subject_links %}{{ super() }}{% endblock %}
{% block content %}
<div class="content">
    <img class="captcha" src="https://irp-cdn.multiscreensite.com/3c4f0eef/dms3rep/multi/captcha.JPG" alt="W68HP">
    <form method="post">
        <label for="captcha">Sicherheitscode:</label>
        <input class="input" type="password" id="captcha" name="captcha" required><br>
        <input type="submit" value="Löschen">
    </form>
</div>
{% endblock %}