<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Löschen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Account Löschen</h1>
    <div class="links-div">
        <a class="link" href="/fach_hinzufügen">Fach Hinzufügen</a><br>
        <a class="link" href="note_hinzufügen">Note Hinzufügen</a><br>
        <a class="link" href="/muendliche_note_hinzufügen">Mündliche Note Hinzufügen</a><br>
        <a class="link" href="/reset">Reset</a><br>
        <a class="link active" href="/delete">Account Löschen</a><br>  
        {% for subject in subjects %}
        <a class="link" href="/fach_uebersicht/{{ subject.name }}">{{ subject.name }}</a><br>
        {% endfor %}
    </div>
    <div class="content">
        <img class="captcha" src="https://irp-cdn.multiscreensite.com/3c4f0eef/dms3rep/multi/captcha.JPG" alt="W68HP">
        <form method="post">
            <label for="captcha">Sicherheitscode:</label>
            <input class="input" type="password" id="captcha" name="captcha" required><br>
            <input type="submit" value="Löschen">
        </form>
        <a class="link" href="/signedin">Home</a>
    </div>
</body>
</html>