<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fach Hinzufügen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Fach Hinzufügen</h1>
    <div class="norm-div">
        <form method="post">
            <label for="name">Name:</label>
            <input class="input" type="text" id="name" name="name" required><br>
            <input type="submit" value="Hinzufügen">
        </form>
        <a class="link" href="/signedin">Home</a>
    </div>
</body>
</html>