{% extends "base.html" %}
{% block site_title %}{{ subject.name }}{% endblock %}
{% block title %}{{ subject.name }}{% endblock %}
{% block subject_links %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="content">
    <h3>Noten:</h3>
    <div class="grades">
        <ol>
            {% for grade in noten %}
                <li>{{ grade.wert }}</li>
            {% endfor %}
        </ol>
    </div>
    {% if noten_avg %}
    <p>Noten Durchschnitt: {{ noten_avg }}</p>
    {% endif %}
    <h3>Muendliche Noten:</h3>
    <div class="grades">
        <ol>
            {% for grade in muendliche_noten %}
                <li>{{ grade.wert }}</li>
            {% endfor %}
        </ol>
    </div>
    {% if muendliche_noten_avg %}
    <p>Muendliche Noten Durchschnitt: {{ muendliche_noten_avg }}</p>
    {% endif %}
</div>
{% endblock %}