<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Löschen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Info</h1>
    <div class="norm-div">
        <p>Beste Note: {{ beste_note }</p>
        <p>Schlechteste Note: {{ schlechteste_note }}</p>
        <p>Durchschnitt Aller Noten: {{ durchschnitt }}</p>
    </div>
</body>
</html>
