<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Passwort zurücksetzen</h1>
    <div class="norm-div">
        <img class="captcha" src="https://irp-cdn.multiscreensite.com/3c4f0eef/dms3rep/multi/captcha.JPG" alt="W68HP">
        <form method="post">
            <label for="captcha">Sicherheitscode:</label>
            <input class="input" type="text" id="captcha" name="captcha" required><br>
            <input type="submit" value="Noten Zurücksetzen">
        </form>
        <a class="link" href="/signedin">Home</a>
    </div>
</body>
</html>