{% extends "base.html" %}
{% block site_title %}Noten zurücksetzen{% endblock %}
{% block title %}Noten zurücksetzen{% endblock %}
{% block subject_links %}{{ super() }}{% endblock %}
{% block content %}
<div class="content">
    <img class="captcha" src="https://irp-cdn.multiscreensite.com/3c4f0eef/dms3rep/multi/captcha.JPG" alt="W68HP">
    <form method="post">
        <label for="captcha">Sicherheitscode:</label>
        <input class="input" autofocus autocomplete="off" type="password" id="captcha" name="captcha" required><br>
        <input type="submit" value="Noten Und Fächer Zurücksetzen">
    </form>
</div>
{% endblock %}