<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="heading">Sign up</h1>
    <div class="content signup">
    <form method="post">
        <label class="" for="username">Benutzername:</label><br>
        <input class="" type="text" id="username" name="username" required><br>
        <label class="" for="password">Passwort:</label><br>
        <input class="" type="password" id="password" name="password" required><br>
        <input class="" type="submit" value="Anmelden">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    <br>
    <a href="/login">Bereits einen Account?</a>
    </div>
</body>
</html>
