<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noten Berechner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Noten Berechner</h1>
    <div class="norm-div">
        <a class="link" href="/fach_hinzufügen">Fach Hinzufügen</a><br>
        <a class="link" href="note_hinzufügen">Note Hinzufügen</a><br>
        <a class="link" href="/muendliche_note_hinzufügen">Mündliche Note Hinzufügen</a><br>
        <a class="link" href="/reset">Reset</a><br>
        <a class="link" href="/delete">Account Löschen</a><br>  
        {% for subject in subjects %}
        <a class="link" href="/fach_uebersicht/{{ subject.name }}">{{ subject.name }}</a><br>
        {% endfor %}
    </div>
</body>
</html>