{% extends "base.html" %}
{% block site_title %}Übersicht{% endblock %}
{% block title %}Übersicht{% endblock %}
{% block subject_links %}{{ super() }}{% endblock %}
{% block content %}
<div class="content">
    <h3>Schriftliche Noten:</h3>
    <p>Beste Note: {{ beste_note }}</p>
    <p>Schlechteste Note: {{ schlechteste_note }}</p>
    <p>Durchschnitt Aller Noten: {{ durchschnitt }}</p>
    <h3>Mündliche Noten:</h3>
    <p>Beste Mündliche Note: {{ beste_muendliche_note }}</p>
    <p>Schlechteste Mündliche Note: {{ schlechteste_muendliche_note }}</p>
    <p>Durchschnitt der Mündlichen Noten: {{ durchschnitt_muendliche }}</p>
</div>
{% endblock %}