{% extends "base.html" %}
{% block site_title %}Zeugnisnote Berechnen{% endblock %}
{% block title %}Zeugnisnote Berechnen{% endblock %}
{% block subject_links %}{{ super() }}{% endblock %}
{% block content %}
<div class="content">
    <form method="post">
        <label for="fach">Fach:</label><br>
        <input type="text" id="fach" autofocus autocomplete="off" required name="fach"><br><br>
        <input type="checkbox" id="muendlich" name="muendlich" checked value="True">
        <label for="muendlich">&nbsp;&nbsp;Mündliche Note Verwenden:</label><br><br>
        <input type="number" id="muendlich_prozent" name="muendlich_prozent" min="0" max="100" step="1" required autocomplete="off">
        <label for="muendlich_prozent" id="muendlich_prozent_label">&nbsp;&nbsp;Prozent, die die mündliche Note zählt:</label><br><br>
        <input type="submit" value="Berechnen">
    </form>
    {% if error %}
    <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if note %}
    <h3>Deine Note ist:</h3>
    <p>{{ note }}</p>
    {% endif %}
</div>
{% endblock %}